body{
	background-color: #FAEBD7;
	border-left: 300px #A52A2A;
	border-right: 300px #A52A2A;
}

.choice-container {
	display: flex;
	margin-bottom: 0.8rem;
	width: 100%;
	border-radius: 4px;
	background: rgb(255, 99, 71);
	font-size: 3rem;
	min-width: 80rem;
}

.choice-container:hover {
	cursor: pointer;
	box-shadow: 0 0.04rem 1.4rem 0 #888888;
	transform: scale(1.02);
	transform: transform 100ms;
}

.choice-prefix {
	padding: 2rem 2.5rem;
	color: white;
	cursor: help;
}

.choice-text {
	padding: 2rem;
	width: 100%;
}

/* Display set up for the boxes and progess bar */

#hud {
	display: flex;
	justify-content: space-between;
}

.hud-prefix {
	text-align: center;
	font-size: 2rem;
}
.hud-prefix:hover{
	background-color: yellow;
}
.hud-main-text {
	text-align: center;
}

#progessBar {
	width: 20rem;
	height: 3rem;
	border: 0.3rem solid #A52A2A;
	margin-top: 2rem;
	border-radius: 50px;
	overflow: hidden;
}

#progressBarFull {
	height: 100%;
	background: #A52A2A;
	width: 0%;
}

@media screen and (max-width: 760px) {
	.choice-container {
		min-width: 40rem;
	}
}