:root {
    background-color: #FAEBD7;
	
}

body {
	border-left: 300px #A52A2A;
	border-right: 300px #A52A2A;
}

h1	{
	font-size: 5.3rem;
	color: #A52A2A;
	margin-bottom: 3.5rem;
}

p {
	font-size: 2rem;
	font-family: Monaco;
	margin-bottom: 2rem;
}

footer {
	font-size: 1rem;
	justify-content: center;
	text-align: center;
}

.container {
	/* width: 100vw; */
	/* height: 100vh; */
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 70rem;
	margin: 0 auto;
}

.flex-column {
	display: flex;
	flex-direction: column;
	
}

.flex-center {
	justify-content: center;
	align-items: center;
	
}

.btn {
	font-size: 2.5rem;
	padding: 2rem 0;
	width: 30rem;
	text-align: center;
	margin-bottom: 1rem;
	text-decoration: none;
	color: rgb(102, 7, 226);
	background: linear-gradient(90deg, #FF7F50 0%, #FF7F50 100%);
	border-radius: 4px;
	
}

.btn:hover {
	cursor: pointer;
	box-shadow: 0 0.5rem 1.5rem 0 #FF7F50;
	transition: transform 150ms;
	transform: scale(1.04);
	
}

.btn[disabled]:hover {
	cursor: not-allowed;
	box-shadow: none;
	transform: none;
}
.dropbtn {
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  
  .title{
	font-family: Copperplate, Papyrus, fantasy;
	font-weight: 900;
	font-size: 60px;
  }
.progressText:hover{
	background-color: #FF7F50;
}
.progressText:active {
	color: tomato;
}
#choice-text1:hover {
	color:blue;
	
}
#choice-text2:hover {
	color:blue
}
#choice-text3:hover {
	color:blue
}
#choice-text1:active {
	color:green;
  transform: scale(1.1); 
}
#choice-text2:active {
	color:green;
	transform: scale(1.1); 
}
#choice-text3:active {
	color:green;
	transform: scale(1.1); 
}


